/* -------------------------------------- Barre de recherche ----------------------------------- */
/* Conteneur principal de la barre de recherche */
.search-filters {
  background-color: #F4F1EA;
}

.form-check-inline {
    margin-right: 0.5rem !important; 
}


/* -------------------------------------- Pagination ----------------------------------- */
/* Surcharger la classe active pour utiliser la variable primaire redéfinie */
.page-item.active .page-link {
    background-color: var(--bs-primary) !important;
    border-color: var(--bs-primary) !important;
    color: white !important; /* Pour garantir la lisibilité du texte */
}