.hero-banner {
  background-image: url('assets/img/page-profil.jpeg');
  background-size: cover;
  background-position: center;
  height: 40vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.hero-banner h1 {
  padding-left: 15rem;
}