/* --------------------------------------Carousel----------------------------------- */

/* Empêche la sélection de texte dans le carousel */
.carousel,
.carousel .carousel-item,
.carousel .carousel-caption,
.carousel .carousel-caption h2 {
  user-select: none;
  -webkit-user-select: none;
  /* Chrome, Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE/Edge */
}


.carousel {
  position: relative;
  height: 75vh;
  overflow: hidden;
}

.carousel-item img {
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
}

/* Style personnalisé pour ressembler à un badge arrondi, mais dans le flux de texte */
.custom-badge-style {
  /* Maintient la taille de police héritée du H2 */
  font-size: inherit;

  /* Maintient la police en gras comme les autres lettres du H2 */
  font-weight: inherit;

  /* Ajuste le rembourrage pour un look compact dans un titre */
  padding: 0.4em 0.5em;

  /* Assure que l'élément s'aligne joliment avec le texte */
  vertical-align: middle;
}

.carousel-caption {
  bottom: 0;
}

.animated-text {
  opacity: 0;
  transform: translateY(50px);
  transition: all 1s ease;
  color: white;
  text-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
  font-size: 2rem;
  font-weight: 600;
}

/* -------------------------------------- Section 1 ----------------------------------- */

/* ---Annimation du dynamicText --- */
/* Style initial du span, pour assurer qu'il est visible au début */
.dynamicText {
  opacity: 1;
  /* Complètement visible */
  transition: opacity 0.5s ease-in-out;
  /* Transition de 0.5s pour la fluidité */
  display: inline-block;
  /* Pour que la transition de l'opacité fonctionne bien */
}

/* Classe ajoutée par JavaScript pour faire disparaître le texte */
.dynamicText.fade-out {
  opacity: 0;
  /* Complètement transparent */
  transition: opacity 0.5s ease-in-out;
  /* Même transition pour le fondu */
}

/* -------------------------------------- Section 2 ----------------------------------- */


/* -------------------------------------- Section 4 ----------------------------------- */

.section-4 {
  background-color:#d5e6eb;
}
.section-4 .stats-grid {
  color: #6d98a8;
  font-size: 1.5rem;
}
.section-4 .stats-grid-number {
  font-size: 4.5rem;
  font-weight: bold;
}