*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  /* padding: 0; */
}

section {
  padding-left: 15rem;
  padding-right: 15rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

/* Boutons primaires */
.btn-primary {
  background-color: #c29356 !important;
  border-color: #c29356 !important;
}

.btn-secondary {
  background-color: #ff798f !important;
  border-color: #ff798f !important;
}

/* Boutons primaires au survol */
.btn-primary:hover,
.btn-primary:focus {
  /* orange plus foncé */
  background-color: #0a303a !important;
  border-color: #0a303a !important;
}

/* Liens text-primary */
.text-primary {
  color: #c29356 !important;
}

/* Liens text-primary au survol */
.text-primary:hover {
  color: #e67300 !important;
}

/* Background bg-primary */
.bg-primary {
  background-color: #c29356 !important;
}

a {
  text-decoration: none;
  color: inherit;
}

/* --------------------------------------Top-bar&Navbar----------------------------------- */

.top-bar,
.navbar {
  padding-left: 15rem;
  padding-right: 15rem;
}

.navbar-nav .nav-link {
  transition: color 0.3s;
}

.navbar-nav .nav-link:hover {
  color: #c29356 !important;
}

/* -------------------------------------- mon-hr-personnalise  ----------------------------------- */
.mon-hr-personnalise {
  /* 1. Rendre le hr moins large et le centrer */
  width: 15vw;
  /* Moins large : choisissez la taille qui vous plaît (e.g., 100px) */
  margin-left: auto;
  margin-right: auto;

  /* 2. Style des points/tiret et épaisseur */
  border-top: 4px;
  /* Augmente l'épaisseur de la ligne */
  border-style: dotted;
  /* Les petits points espacés (ou dashed pour des tirets) */
  opacity: 1;
  /* S'assure que le hr ne soit pas transparent par défaut */
}

.border-primary {
  border-color: #ff7f00 !important;
  /* orange */
}

/* -------------------------------------- Footer ----------------------------------- */
footer {
  background-image: url('assets/img/Home-hero/bg-motif-beige.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.copyright {
  background-color: #0a303a;
  color: white;
}

.footer-link {
  text-decoration: none; 
  color: inherit; 
  transition: color 0.3s; 
}

.footer-link:hover {
  color: #c29356; 
}
