*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bs-primary: #c29356; 
  /* Version RGB de votre nouvelle couleur (c'est essentiel pour les opacités de Bootstrap) */
  /* RGB de #c29356 est 194, 147, 86 */
  --bs-primary-rgb: 194, 147, 86;
  --bs-primary-hover: #0a303a;
  --bs-secondary: #ff798f;
  --bs-secondary-rgb: 255, 121, 143;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
}

/* -------------------------------------- Couleur texte ----------------------------------- */
.text-primary {
  color: #c29356 !important;
}

.text-primary:hover {
  color: #e67300 !important;
}

/* -------------------------------------- Background ----------------------------------- */
.bg-primary {
  background-color: #c29356 !important;
}

.bg-secondary {
  background-image: url('assets/img/Home-hero/bg-motif-beige.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.bg-tertiary {
  background-image: url('assets/img/Home-hero/bg-motif-beige.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.bg-quaternary {
  background-color: #d5e6eb; 
}

/* -------------------------------------- Boutons ----------------------------------- */
.btn-primary {
  background-color: #c29356 !important;
  border-color: #c29356 !important;
}

.btn-secondary {
  background-color: #ff798f !important;
  border-color: #ff798f !important;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #0a303a !important;
  border-color: #0a303a !important;
}

/* -------------------------------------- Eléments ----------------------------------- */
section {
  padding-left: 15rem;
  padding-right: 15rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

a {
    text-decoration: none !important;
    color: inherit !important;
}

/* --------------------------------------Header----------------------------------- */

.top-bar,
.navbar {
  padding-left: 15rem;
  padding-right: 15rem;
}

.navbar-nav .nav-link {
  transition: color 0.3s;
}

.navbar-nav .nav-link:hover {
  color: #c29356 !important;
}

/* --------------------------------------Hero-banner----------------------------------- */
.hero-banner {
  background-image: url('assets/img/Hero-banner/page-profil.jpeg');
  background-size: cover;
  background-position: center;
  height: 40vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.hero-banner h1 {
  padding-left: 15rem;
}

/* -------------------------------------- mon-hr-personnalise  ----------------------------------- */
.mon-hr-personnalise {
  width: 15vw;
  margin-left: auto;
  margin-right: auto;
  /* 2. Style des points/tiret et épaisseur */
  border-top: 4px;
  /* Augmente l'épaisseur de la ligne */
  border-style: dotted;
  /* Les petits points espacés (ou dashed pour des tirets) */
  opacity: 1;
  /* S'assure que le hr ne soit pas transparent par défaut */
}

.border-primary {
  border-color: #c29356 !important;
}

/* -------------------------------------- Footer ----------------------------------- */
footer {
  background-image: url('assets/img/Home-hero/bg-motif-beige.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.copyright {
  background-color: #0a303a;
  color: white;
}

.footer-link {
  text-decoration: none; 
  color: inherit; 
  transition: color 0.3s; 
}

.footer-link:hover {
  color: #c29356; 
}
