body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 2000px; /* Just to enable scrolling for demonstration */
}

.navbar-nav .nav-link {
  transition: color 0.3s;
}

.navbar-nav .nav-link:hover {
  color: #0d6efd; /* Couleur au survol, ici bleu Bootstrap */
}