body {
  font-family: Arial, sans-serif;
  margin: 0;
  /* padding: 0; */
  height: 2000px; /* Just to enable scrolling for demonstration */
}

/* Boutons primaires */
.btn-primary {
  background-color: #ff7f00 !important;  /* orange */
  border-color: #ff7f00 !important;
}

/* Boutons primaires au survol */
.btn-primary:hover,
.btn-primary:focus {
  background-color: #e67300 !important; /* orange plus foncé */
  border-color: #e67300 !important;
}

/* Liens text-primary */
.text-primary {
  color: #ff7f00 !important;
}

/* Liens text-primary au survol */
.text-primary:hover {
  color: #e67300 !important;
}

/* Background bg-primary */
.bg-primary {
  background-color: #ff7f00 !important;
}

/* --------------------------------------Header----------------------------------- */

.top-bar, 
.navbar  {
  padding-left: 15rem;   /* augmente le padding gauche */
  padding-right: 15rem;  /* augmente le padding droit */
}

.navbar-nav .nav-link {
  transition: color 0.3s;
}

.navbar-nav .nav-link:hover {
  color: #ff7f00; 
}

/* --------------------------------------Carousel----------------------------------- */

/* Empêche la sélection de texte dans le carousel */
.carousel,
.carousel .carousel-item,
.carousel .carousel-caption,
.carousel .carousel-caption h2 {
  user-select: none;
  -webkit-user-select: none; /* Chrome, Safari */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* IE/Edge */
}


.carousel {
  position: relative;
  height: 75vh;
  overflow: hidden;
}

.carousel-item img {
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
}

/* Style personnalisé pour ressembler à un badge arrondi, mais dans le flux de texte */
.custom-badge-style {
    /* Maintient la taille de police héritée du H2 */
    font-size: inherit; 
    
    /* Maintient la police en gras comme les autres lettres du H2 */
    font-weight: inherit; 
    
    /* Ajuste le rembourrage pour un look compact dans un titre */
    padding: 0.1em 0.5em; 
    
    /* Assure que l'élément s'aligne joliment avec le texte */
    vertical-align: middle; 
}

.carousel-caption {
  bottom: 0;
}

.animated-text {
  opacity: 0;
  transform: translateY(50px);
  transition: all 1s ease;
  color: white;
  text-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
  font-size: 2rem;
  font-weight: 600;
}
