body {
  font-family: Arial, sans-serif;
  margin: 0;
  /* padding: 0; */
}

section {
  padding-left: 15rem;
  padding-right: 15rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

/* Boutons primaires */
.btn-primary {
  background-color: #ff7f00 !important;
  border-color: #ff7f00 !important;
}

/* Boutons primaires au survol */
.btn-primary:hover,
.btn-primary:focus {
  /* orange plus foncé */
  background-color: #e67300 !important;
  border-color: #e67300 !important;
}

/* Liens text-primary */
.text-primary {
  color: #ff7f00 !important;
}

/* Liens text-primary au survol */
.text-primary:hover {
  color: #e67300 !important;
}

/* Background bg-primary */
.bg-primary {
  background-color: #ff7f00 !important;
}

/* --------------------------------------Top-bar&Navbar----------------------------------- */

.top-bar,
.navbar {
  padding-left: 15rem;
  padding-right: 15rem;
}

.navbar-nav .nav-link {
  transition: color 0.3s;
}

.navbar-nav .nav-link:hover {
  color: #ff7f00;
}

/* --------------------------------------Carousel----------------------------------- */

/* Empêche la sélection de texte dans le carousel */
.carousel,
.carousel .carousel-item,
.carousel .carousel-caption,
.carousel .carousel-caption h2 {
  user-select: none;
  -webkit-user-select: none;
  /* Chrome, Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE/Edge */
}


.carousel {
  position: relative;
  height: 75vh;
  overflow: hidden;
}

.carousel-item img {
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
}

/* Style personnalisé pour ressembler à un badge arrondi, mais dans le flux de texte */
.custom-badge-style {
  /* Maintient la taille de police héritée du H2 */
  font-size: inherit;

  /* Maintient la police en gras comme les autres lettres du H2 */
  font-weight: inherit;

  /* Ajuste le rembourrage pour un look compact dans un titre */
  padding: 0.1em 0.5em;

  /* Assure que l'élément s'aligne joliment avec le texte */
  vertical-align: middle;
}

.carousel-caption {
  bottom: 0;
}

.animated-text {
  opacity: 0;
  transform: translateY(50px);
  transition: all 1s ease;
  color: white;
  text-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
  font-size: 2rem;
  font-weight: 600;
}

/* -------------------------------------- Hero 1 ----------------------------------- */

/* ---Annimation du dynamicText --- */
/* Style initial du span, pour assurer qu'il est visible au début */
.dynamicText {
  opacity: 1;
  /* Complètement visible */
  transition: opacity 0.5s ease-in-out;
  /* Transition de 0.5s pour la fluidité */
  display: inline-block;
  /* Pour que la transition de l'opacité fonctionne bien */
}

/* Classe ajoutée par JavaScript pour faire disparaître le texte */
.dynamicText.fade-out {
  opacity: 0;
  /* Complètement transparent */
  transition: opacity 0.5s ease-in-out;
  /* Même transition pour le fondu */
}

/* ---mon-hr-personnalise ---*/

.mon-hr-personnalise {
  /* 1. Rendre le hr moins large et le centrer */
  width: 15vw;
  /* Moins large : choisissez la taille qui vous plaît (e.g., 100px) */
  margin-left: auto;
  margin-right: auto;

  /* 2. Style des points/tiret et épaisseur */
  border-top: 4px;
  /* Augmente l'épaisseur de la ligne */
  border-style: dotted;
  /* Les petits points espacés (ou dashed pour des tirets) */
  opacity: 1;
  /* S'assure que le hr ne soit pas transparent par défaut */
}

.border-primary {
  border-color: #ff7f00 !important;
  /* orange */
}

/* -------------------------------------- Hero 2 ----------------------------------- */
.hero-2 {
  /* height: 50vh; */
  background-image: url('assets/img/Home-hero/bg-motif-beige.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}